/* Tipografia */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,200;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
:root{
  --tipografia-prin:'Syne Mono', monospace;
  --tipografia-sec:'Roboto Mono', monospace;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html{
  scroll-behavior: smooth;
}

.app-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#282828;
  background-size: cover;
}
